.research-section {
  padding-bottom: 0;
}

.research-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.research-card {
  background: white;
  border-radius: 24px;
}

.research-header {
  padding: 1.5rem;
}

.paper-icon {
  padding: 0.8rem;
  border-radius: 10px;
}

.research-title-group h3 {
  font-size: 1.1rem;
}

.research-details {
  padding: 1.5rem;
  padding-top: 0;
}

.abstract p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
